exercici_1/exercici1.1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT cifp (alumne*, professor*)>
<!ELEMENT alumne (nom, llinatjes, data_naixement?, correu?, telefon?, adreça?, fecha_matricula, curs)>
<!ATTLIST alumne id CDATA #REQUIRED>
<!ELEMENT professor (nom, llinatjes, data_naixement?, correu?, telefon?, adreça?, data_incorporación, departamento, asignatura*)>
<!ATTLIST professor id CDATA #REQUIRED>

<!ELEMENT nom (#PCDATA)>
<!ELEMENT llinatjes (#PCDATA)>
<!ELEMENT data_naixement (#PCDATA)>
<!ELEMENT correu (#PCDATA)>
<!ELEMENT telefon (#PCDATA)>
<!ELEMENT adreça (#PCDATA)>
<!ELEMENT fecha_matricula (#PCDATA)>
<!ELEMENT curs (#PCDATA)>
<!ELEMENT data_incorporación (#PCDATA)>
<!ELEMENT departamento (#PCDATA)>

<!ELEMENT asignatura (nom_asignatura, data_inici?, data_final?)>
<!ATTLIST asignatura id_asignatura CDATA #REQUIRED>
<!ELEMENT nom_asignatura (#PCDATA)>
<!ATTLIST nom_asignatura ciclo (DAM|DAW|ASIX|SMX|SEIA|ER|AUT) #REQUIRED>
<!ELEMENT data_inici (#PCDATA)>
<!ELEMENT data_final (#PCDATA)>
